@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  button {
    cursor: pointer !important;
  }
}

@theme inline {
  --color-00649c: #00649c;
  --color-e4e4e4: #e4e4e4;
  --color-dc2626: #dc2626;
  --color-23b6cd: #23b6cd;
  --color-008bd2: #008bd2;
  --color-334155: #334155;
  --color-94a3b8: #94a3b8;
  --color-f5f5f5: #f5f5f5;
  --color-cce0eb: #cce0eb;
  --color-e5e7eb: #e5e7eb;
  --color-dedede: #dedede;
  --color-eb445a: #eb445a;
  --color-00000066: #00000066;
  --color-222: #222;
  --color-0006: #0006;
  --color-0043a3: #0043a3;
  --color-f4f4f4: #f4f4f4;
  --color-1351b4: #1351b4;
  --color-333: #333;
  --color-888: #888;
  --color-f2e3174d: #f2e3174d;
  --color-008c32: #008c32;
  --color-808080: #808080;
  --color-ccc: #ccc;
  --color-171717: #171717;
  --color-333333: #333333;
  --color-f1f1f1: #f1f1f1;
  --color-005394: #005394;
  --color-f7f7f7: #f7f7f7;
  --color-00a5e4: #00a5e4;
  --color-000000de: #000000de;
  --color-e0e0e0: #e0e0e0;
  --color-e3e3e3: #e3e3e3;
  --color-231f20: #231f20;
  --color-005c84: #005c84;
  --color-626262: #626262;
  --color-11d0ff: #11d0ff;
  --color-e8e8e8: #e8e8e8;
  --color-fafafa: #fafafa;
  --color-9e9e9e: #9e9e9e;
  --color-f4fcff: #f4fcff;
  --color-1e3650: #1e3650;
  --color-2a5788: #2a5788;
  --color-f9f9f9: #f9f9f9;
  --color-c4c4c4: #c4c4c4;
  --color-e7f9f4: #e7f9f4;
  --color-f6f7f9: #f6f7f9;
  --color-636f88: #636f88;
  --color-b4becd: #b4becd;
  --color-64748b: #64748b;
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--f1oreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-foreground: hsl(var(--accent-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-tahoma: 'Tahoma', sans-serif;
  --font-arial: 'Arial', sans-serif;
  --font-verdana: 'Verdana', 'Geneva', 'sans-serif';
  --font-rawline: var(--font-rawline);
  --font-roboto: var(--font-roboto);
  --shadow-card-main: 0 0 10px rgba(0, 0, 0, 0.1);
  --shadow-card-header-gov: 0 3px 6px #00000029;
  --shadow-card-login-gov: 0 2px 4px #00000033;
  --shadow-card-login-btn: 0 2px 3px #00000029;
  --shadow-card-invoice: 0 0 11px #0000001a;
  --shadow-card-payment: 0 0 10px #0000001a;
  --shadow-card-login: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
  --shadow-select-account: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
  --shadow-card-accounts: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.animation-spin {
  animation-name: animation-spin;
  animation-duration: 0.8s;
  animation-timing-function: steps(12, end);
  animation-iteration-count: infinite;
}

  input[type="radio"]:checked + label {
    border: 5px solid #00a5e4;
  }
